<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h2>THIS IS MY FIRST PAGE</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iste totam
      quam, dolorem magni reiciendis pariatur exercitationem veritatis error
      asperiores porro recusandae quod blanditiis. Alias, blanditiis laborum!
      Assumenda exercitationem nulla cumque nisi temporibus nostrum, minus
      quisquam molestias, voluptatem harum vel blanditiis natus deleniti
      consequatur id qui a facilis praesentium! Aliquam?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
      excepturi, deleniti nesciunt fugit quam ut id accusantium. Laudantium
      debitis dignissimos illo esse maxime, natus dolorum qui nemo, corporis
      vitae aut. Aspernatur, non neque et, deserunt saepe commodi eligendi
      itaque architecto ipsa modi iusto quas minus consequuntur aliquam esse
      placeat, ullam facilis quos! Necessitatibus earum delectus dignissimos,
      corporis similique illo labore alias quae, nihil doloribus pariatur illum
      voluptatem deleniti saepe vero facere eligendi architecto fugit
      perspiciatis, repudiandae quidem qui laudantium tempora natus? Accusamus
      nesciunt labore obcaecati. Exercitationem hic sint, voluptas repudiandae
      blanditiis pariatur nisi. Nisi sunt aperiam hic, libero unde praesentium,
      ut ullam soluta ex earum repellendus doloribus odit odio quod debitis?
      Reiciendis, vitae. Maiores omnis explicabo animi nostrum perferendis autem
      minus veniam! Libero, modi voluptate necessitatibus vitae, unde aliquam
      omnis dolores officiis dolore corporis nobis, sed nam veniam mollitia
      temporibus neque fuga quaerat? Officia rem non molestiae optio animi
      repudiandae laborum fuga, rerum adipisci. Exercitationem optio earum dolor
      in dicta illum tempore eius. Recusandae dolores, temporibus excepturi
      molestias libero omnis debitis eius esse suscipit quaerat quisquam sunt
      voluptatibus quam veritatis. Placeat neque, quibusdam et est tempore
      recusandae illo sapiente voluptatem illum sequi quos eius nihil porro
      animi accusamus excepturi, laborum sint qui architecto quo? Neque, quasi
      impedit repudiandae eligendi perspiciatis dolorem aperiam incidunt omnis
      id voluptate asperiores voluptates quaerat ipsum, saepe ut vel officia
      praesentium reprehenderit, soluta fuga! Incidunt neque quia vero quisquam
      consequuntur, nostrum odio fugiat quidem sit excepturi mollitia. Atque,
      esse repellendus! Consectetur recusandae architecto odio omnis, dolore et
      animi inventore voluptates mollitia? Officiis dolor, exercitationem sunt
      quas voluptatem, inventore cumque explicabo illum accusantium dolores ad
      omnis vero labore nulla obcaecati tenetur cupiditate, culpa consectetur
      quo at aut odit provident? Mollitia molestias nostrum perferendis
      doloribus quasi facere nulla temporibus dicta, ut dolor incidunt nihil
      quos corrupti unde. Ratione.
    </p>
  </body>
</html>
